# Environment variables
.env

# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# macOS
.DS_Store

# IDE
.vscode/
.idea/